.links .fa-steam:hover{
  color: #737373;
}

.index .author-header{
  font-family: inherit;
  margin-top: 0;
}

.links{
  margin-top: 20px;
}

.index .articles a{
  font-size: 30px;
}

.index .articles h2{
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.index .author-text{
  font-size: 20px;
}
